.background {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.appBackground {
    background: linear-gradient(180deg, #3e4451 0%, #444f5a 100%);
    color: white;
    margin-top: -8px;
    min-height: 90vh;
}

ul {
    list-style-type: none;
}
li {
margin-bottom: 3px;
  padding: 2px;
  }

  body {
    background: linear-gradient(180deg, #3e4451 0%, #444f5a 100%);
    color: white;
    margin-top: -8px;
    min-height: 100%;
  }
